<app-create-internal-user></app-create-internal-user>

<div class="table-responsive">
  <table
    mat-table
    [dataSource]="users"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="sso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Account ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element.sso }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Full Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Email
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Language
      </th>
      <td mat-cell *matCellDef="let element">{{ element.language }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Job Function
      </th>
      <td mat-cell *matCellDef="let element">{{ element.job_function }}</td>
    </ng-container>

    <!-- Application Column -->
    <ng-container matColumnDef="application">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Applications
      </th>
      <td mat-cell *matCellDef="let element">{{ element.application }}</td>
    </ng-container>

    <!-- Last Login Column -->
    <ng-container matColumnDef="last_login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Last Login
      </th>
      <td mat-cell *matCellDef="let element">{{ element.last_login }}</td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>filter_list_alt</mat-icon>Activate/Deactivate
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="element.active"
          [matTooltip]="'Deactivate this user'"
          [matTooltipPosition]="'above'"
        >
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex flex-row">
          <button
            mat-icon-button
            [matTooltip]="'Edit this user'"
            [matTooltipPosition]="'above'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            [matTooltip]="'Delete this user'"
            [matTooltipPosition]="'above'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
