<div
  class="d-flex flex-row align-items-center justify-content-center align-content-start w-100"
>
  <mat-card class="flex-grow-1 flex-shrink-1">
    <mat-card-content>
      <form
        class="d-flex flex-row flex-wrap justify-content-evenly"
        [formGroup]="roleForm"
      >
        <mat-form-field class="role-create-field flex-grow-1 flex-shrink-1">
          <mat-label>Application</mat-label>
          <mat-select [formControl]="applicationControl"
          (selectionChange)="onSelectionChange($event)">
            <mat-option
              *ngFor="let app of applications; index as i"
              [value]="app?.applicationCode"
              [disabled]="app.selected"
              #matOption
              (click)="onSelected(i)"
              >{{ app?.applicationName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="role-create-field flex-grow-1 flex-shrink-1">
          <mat-label>Role</mat-label>
          <mat-select [formControl]="roleControl">
            <mat-option *ngFor="let role of roles" [value]="role?.roleCode">{{
              role?.roleName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="role-create-field flex-grow-1 flex-shrink-1">
          <mat-label>Sub-business</mat-label>
          <mat-select [formControl]="subBusinessControl">
            <mat-option
              *ngFor="let sub of subBusinesses"
              [value]="sub?.subBusinessCode"
              >{{ sub?.subBusinessName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="role-create-field flex-grow-1 flex-shrink-1">
          <mat-label>Unit</mat-label>
          <mat-select [formControl]="unitControl">
            <mat-option *ngFor="let unit of units" [value]="unit?.unitCode">{{
              unit?.unitName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <button
    mat-mini-fab
    color="warn"
    matTooltip="Remove this role"
    matTooltipPosition="above"
    (click)="remove.emit()"
  >
    <mat-icon>remove_circle</mat-icon>
  </button>
</div>
