* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a:hover,
a:focus,
a {
  text-decoration: none;
  color: unset;
}

hr {
  background-color: #0000001f;
  opacity: 0.4;
}

:focus {
  outline: 0;
  box-shadow: none !important;
}

mat-form-field {
  width: 100%;
}

// .cdk-overlay-pane {
//   div.mat-mdc-menu-panel {
//     max-width: none;
//   }
// }
