mat-list {
  display: flex !important;
  flex-direction: row;
}

mat-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

mat-list-item:hover {
  background-color: #f5f5f5;
}

mat-list-item.active {
  background-color: #fff;
  border-bottom: 2px solid #0073b7;
}

mat-list-item span span {
  font-size: 14px;
  color: #333;
}
mat-list-item.active span span {
  font-weight: bold;
}

.widget-container .widgets-item {
  border: 1px solid #a7b1c0;
  padding: 15px;
  min-height: 100px;
  border-radius: 5px;
  height: 100%;
  color: #f2f2f2;
}

.widgets-item.opened {
  background-color: #ff0818;
}

.widgets-item.solved {
  background-color: #ed7d31;
}

.widgets-item.on-time {
  background-color: #589b46;
}

.widgets-item.overdue {
  background-color: #bd51a0;
}

.value {
  font-weight: 500;
  font-size: 16px;
  margin-right: 8px;
}

span.on-track {
  color: #589b46;
}

span.closed {
  color: #ed7d31;
}

td a {
  color: #0073b7;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}
