<h2 class="mat-dialog-title" mat-dialog-title>Problem Description</h2>
<mat-dialog-content>
  <div class="w-100">
    <mat-form-field>
      <mat-label>Problem Description</mat-label>
      <textarea
        matInput
        type="text"
        [(ngModel)]="dialogData.description"
        [required]="true"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 w-100">
    <div class="container">
      <mat-label>File attachment</mat-label>
      <div class="row">
        <!-- Progress Bar -->
        <div class="col-md-12" *ngIf="progress">
          <div class="progress form-group">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              [style.width.%]="progress"
            ></div>
          </div>
        </div>

        <div class="col-md-12">
          <div
            class="fileupload"
            appDragDropFileUpload
            (click)="fileField.click()"
            (fileDropped)="upload($event)"
          >
            <span class="input-info">Choose a file or drag here</span>
            <input
              type="file"
              #fileField
              (change)="upload($any($event).target.files)"
              hidden
              multiple
            />
          </div>
        </div>

        <div class="col-md-12">
          <div class="image-list" *ngFor="let file of files; let i = index">
            <div class="profile">
              <img [src]="sanitize(file['url'])" alt="" />
              <div class="d-flex flex-row justify-content-center">
                <p class="text-center">{{ file.item.name }}</p>
              </div>
            </div>
            <button
              class="btn btn-danger h-50 m-3 align-self-center"
              (click)="removeFile(i)"
            >
              Delete
            </button>
          </div>
          <p class="message">{{ msg }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onUploadlClick()">Upload</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="dialogData">Submit</button>
</mat-dialog-actions>
