.mat-dialog-title {
  align-items: center;
    background: linear-gradient(90deg,#3d2c9e,#662b94);
    color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin: 0!important;
    min-height: 45px;
}