<app-header
  [isHandset$]="isHandset$"
  (toggleSidebar)="toggleSidebar()"
></app-header>
<mat-sidenav-container>
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="pb-2">
      <ul>
        <li class="list-group" *ngFor="let sidenav of sidebarMenu">
          <a
            matRipple
            [matRippleColor]="'#f7f8f443'"
            routerLink="{{ sidenav.link }}"
            class="sidebar-menu fs-6 w-100 d-flex flex-column align-items-center"
            [routerLinkActive]="routerActive"
          >
            <i-feather
              name="{{ sidenav.icon }}"
              class="feather-base"
            ></i-feather>
            <span class="mt-1">{{ sidenav.menu }}</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- <p class="text-center pb-24 fs-16">
      © 2024 All rights reserved by
      <a href="https://thửhtml.vn" target="_blank" class="text-indigo"
        >thửhtml.vn</a
      >
    </p> -->
  </mat-sidenav-content>
</mat-sidenav-container>
