<footer>
  <div>
    <div style="padding: 5%;">
      <div style="background: #F1F1F1 0% 0% no-repeat padding-box; border-radius: 22px;">
        <div style="padding: 20px">
          <p style="font-weight: 100; font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #8F91A4; text-align: center; line-height: 1.8">We wish you & your
            family a very healthy and prosperous life with our commitment to enable your goals.</p>
        </div>
        <div
          style="background: transparent linear-gradient(90deg, var(--unnamed-color-2bad90) 0%, var(--unnamed-color-00489a) 100%) 0% 0% no-repeat padding-box;
                            background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                            opacity: 1;height: 70px; color: white; width: 100%; padding: 1px 0 15px 0;"
        >
          <p style="text-align: center; font-size: 24px;  line-height: 48px; font-family: Verdana; font-weight: 100; ">"Peace now. Peace in the future!"</p>
        </div>
        <div style="padding: 20px">
          <p
            style="width: 100%;  font-weight: Bold; font-size: 20px ; font-family: Verdana;
                            height: 192px; text-align: center; color: #4C4C51; line-height: 1.6; "
          >Now, get 100% Value Back against your insurance policies via our brand partners across India and continue enjoying present, without compromising on your policy.</p>
        </div>
      </div>
    </div>
    <p style=" padding: 15px; font-weight: 100; font-size: 16px ; line-height: 35px;  font-family: Verdana; color: #9E9E9E; font-family: Verdana;">
      Note: If you do not find your neighborhood store at InsurePay in, just share store name and store in-charge contact number at
      <a style="color: blue;">partner@myapp.in</a>
      along with your details to ensure we not only get your neighborhood store onboard (so that you can enjoy Premium Back there also), but you might also be eligible for a
      surprise reward.</p>
    <p style=" font-size: 20px ; line-height: 25px;  font-family: Verdana; color: #232121;   padding: 30px; font-style: Italic;">Together, we can only make FUTURE better,
      bigger & brighter...</p>
    <table style="background-color: #887ccb; padding:15px; width: 100%;">
      <tr>
        <td style="text-align: center;">
          <img
            src="https://img.freepik.com/free-vector/realistic-luxury-background_23-2149324320.jpg?w=1060&t=st=1709475486~exp=1709476086~hmac=732dd3aa1328536aa3ef9d548e1bf759bb0745dd6838f429c4eea19c9c4f3f58"
            alt="logo.png"
            style="display:block; margin:0 auto"
          />
          <br />
          <p style="text-align: left;font-size:large; width: 40%; margin: auto;">At your Service,</p>
          <p style="text-align: left;font-size:large; width: 40%; margin: auto;">Team Customer Support @ MyApp.in</p>
          <p style="text-align: left;font-size:large; width: 40%; margin: auto;"> Insurance bhi, Assurance bhi!</p>
          <p style="text-align: left;font-size:large; width: 40%; margin: auto;">Email: <a style="color: blue;">quynhluu1305@gmail.com</a></p>
          <br />
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <img
            src="https://img.freepik.com/free-vector/realistic-silver-frame-design_23-2149236258.jpg?w=1060&t=st=1709475468~exp=1709476068~hmac=10c95c49a7d5f89b430c763fd58bf6bb0ef379e9e1b4530a7ce70f86c64221ba"
            alt="instagram-logo"
            height="auto"
            width="20%"
            style="display:inline-block"
          />
          <img
            src="https://img.freepik.com/free-vector/gradient-black-backgrounds-with-golden-frames_23-2149160009.jpg?w=1060&t=st=1709475550~exp=1709476150~hmac=53907ce99b91b1ac4b2e7cb4a8413243bc49ac24f8310d561614fc38300e6c5c"
            alt="twitter-logo"
            height="auto"
            width="20%"
            style="display:inline-block"
          />
        </td>
      </tr>
    </table>
  </div>
</footer>