<header>
  <div>
    <img
      src="https://img.freepik.com/free-vector/gradient-black-backgrounds-with-golden-frames_23-2149160009.jpg?w=1060&t=st=1709475550~exp=1709476150~hmac=53907ce99b91b1ac4b2e7cb4a8413243bc49ac24f8310d561614fc38300e6c5c"
      alt="logo.png"
      style="margin: auto;display:block"
      height="auto"
      width="50%"
    />
    <hr />
  </div>
</header>