<div class="container">
  <div class="row">
    <form
      class="details-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label">Name:</mat-label>
        <input
          matInput
          type="text"
          id="name"
          formControlName="name"
          class="details-form__form-field__input"
        />
        <mat-error
          *ngIf="this.registerForm?.get('name')?.invalid"
          [ngClass]="'text-danger'"
        >
          You must enter a name.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label">Email:</mat-label>
        <input
          matInput
          type="email"
          id="email"
          formControlName="email"
          class="details-form__form-field__input"
        />
        <mat-error
          *ngIf="this.registerForm?.get('email')?.invalid"
          [ngClass]="'text-danger'"
        >
          You must enter a valid email.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label">Language:</mat-label>
        <mat-select
          id="language"
          formControlName="language"
          class="details-form__form-field__input"
        >
          <mat-option value="English">English</mat-option>
          <mat-option value="French">French</mat-option>
          <mat-option value="Turkish">Turkish</mat-option>
          <mat-option value="Italian">Italian</mat-option>
          <mat-option value="Portuguese">Portuguese</mat-option>
          <mat-option value="Chinese">Chinese</mat-option>
          <mat-option value="German">German</mat-option>
          <mat-option value="Spanish">Spanish</mat-option>
        </mat-select>
        <mat-error
          *ngIf="this.registerForm?.get('language')?.invalid"
          [ngClass]="'text-danger'"
        >
          Select a language.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label">Chức vụ:</mat-label>
        <mat-select
          id="role"
          formControlName="role"
          class="details-form__form-field__input"
          required
        >
          <mat-option value="requestor">Requestor</mat-option>
          <mat-option value="validator">Validator</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
        <mat-error
          *ngIf="this.registerForm?.get('role')?.invalid"
          [ngClass]="'text-danger'"
        >
          Select a role.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label">Password:</mat-label>
        <input
          matInput
          type="text"
          id="pass"
          formControlName="pass"
          class="details-form__form-field__input"
        />
        <mat-error
          *ngIf="this.registerForm?.get('pass')?.invalid"
          [ngClass]="'text-danger'"
        >
          You must enter a password.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="details-form__form-field"
        hintLabel="min 3, Max 25 characters."
      >
        <mat-label class="details-form__form-field__label"
          >Job Function:</mat-label
        >
        <input
          matInput
          type="text"
          id="job_function"
          formControlName="job_function"
          class="details-form__form-field__input"
        />
        <mat-error
          *ngIf="this.registerForm?.get('job_function')?.invalid"
          [ngClass]="'text-danger'"
        >
          You must enter a job function.
        </mat-error>
      </mat-form-field>
      <div class="col-12 text-center">
        <button
          class="details-form__submit"
          mat-flat-button
          color="accent"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Đăng ký
        </button>
      </div>
    </form>
  </div>
</div>
