<div class="w-100">
  <div class="mt-2 mb-2">
    <div class="row">
      <mat-list>
        <mat-list-item
          (mouseenter)="onItemHover($event)"
          (click)="onItemClick($event, 'me')"
          [ngClass]="{ active: item === 'me' }"
        >
          Me
        </mat-list-item>

        <mat-list-item
          (mouseenter)="onItemHover($event)"
          (click)="onItemClick($event, 'myGroup')"
          [ngClass]="{ active: item === 'myGroup' }"
        >
          My Group
        </mat-list-item>

        <mat-list-item
          (mouseenter)="onItemHover($event)"
          (click)="onItemClick($event, 'businessUnit')"
          [ngClass]="{ active: item === 'businessUnit' }"
        >
          Business Unit
        </mat-list-item>

        <mat-list-item
          (mouseenter)="onItemHover($event)"
          (click)="onItemClick($event, 'subBusiness')"
          [ngClass]="{ active: item === 'subBusiness' }"
        >
          Sub-business
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
      <div
        matTooltip="Quantity of Non Conformity in Status Created, Accepted, Solved"
        matTooltipPosition="below"
        class="d-flex flex-column justify-content-center align-items-start widgets-item opened"
      >
        <div>
          <h3>Open NCs</h3>
        </div>
        <div class="text-center flex-fill w-100 value">
          <div
            class="d-flex flex-row justify-content-start align-items-center h-100"
          >
            <span class="w-100">{{ openNCs.length }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
      <div
        matTooltip="Quantity of Non Conformity in Status Solved"
        matTooltipPosition="below"
        class="d-flex flex-column justify-content-center align-items-start widgets-item solved"
      >
        <div>
          <h3>Solved NCs</h3>
        </div>
        <div class="text-center flex-fill w-100 value">
          <div
            class="d-flex flex-row justify-content-start align-items-center h-100"
          >
            <span class="w-100">{{ solvedNCs.length }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
      <div
        matTooltip="Quantity of Non Conformity in Status Solved"
        matTooltipPosition="below"
        class="d-flex flex-column justify-content-center align-items-start widgets-item on-time"
      >
        <div>
          <h3>On-time NCs</h3>
        </div>
        <div class="text-center flex-fill w-100 value">
          <div
            class="d-flex flex-row justify-content-start align-items-center h-100"
          >
            <span class="w-100">{{ onTimeNCs.length }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
      <div
        matTooltip="Quantity of Non Conformity in Status Solved"
        matTooltipPosition="below"
        class="d-flex flex-column justify-content-center align-items-start widgets-item overdue"
      >
        <div>
          <h3>Overdue NCs</h3>
        </div>
        <div class="text-center flex-fill w-100 value">
          <div
            class="d-flex flex-row justify-content-start align-items-center h-100"
          >
            <span class="w-100">{{ overDueNCs.length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Action's Status Chart -->
    <div class="col-12">
      <highcharts-chart
        #actionStatusChart
        [Highcharts]="Highcharts"
        [options]="pieChartOptions"
        [constructorType]="chartConstructor"
        [callbackFunction]="chartCallback"
        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngular"
        style="width: 100%; height: 400px; display: block"
      ></highcharts-chart>
    </div>
  </div>
</div>
