.app-wrapper {
  background-image: linear-gradient(90deg, rgb(61, 44, 158), rgb(102, 43, 148));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  min-height: 100%;
  width: 100%;
}

.app-content {
  min-height: calc(100vh - 100px);
  width: 100%;
}

.dasboard-container {
  padding: 1.5rem 2rem;
  width: 100%;
}

.welcome-message {
  max-width: 900px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro-message {
  color: #a7b1c0;
  font-style: italic;
  font-weight: 200;
  max-width: 900px;
  text-align: center;
}

.products {
  max-width: 1120px;
}

.products__item {
  height: fit-content;
  width: 200px;
  margin: 40px;
  cursor: pointer;
  text-decoration: unset;
  outline: none;
}

.products__item_logo-img {
  height: 160px;
}

.products__item_logo-img_product {
  height: 320px;
}

.products__item_name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  color: #cdd6e3;
}
