<div class="details-conatainer">
  <mat-card class="ncr-header">
    <mat-card-header>
      <mat-card-title>NC ID: {{ nc_id }}</mat-card-title>
      <mat-card-subtitle>Created By: {{ nc_creator }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <!-- The linear attribute can be set on mat-stepper to create a linear stepper that requires the user to complete previous steps before proceeding to following steps -->
  <mat-stepper
    headerPosition="bottom"
    orientation="horizontal"
    #stepper
    [linear]="false"
    [formGroup]="stepperForm"
    [selectedIndex]="stage.value !== -1 ? stage.value : 0"
  >
    <mat-step>
      <ng-template matStepLabel>Created</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Accepted</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Solved</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Closed</ng-template>
    </mat-step>
  </mat-stepper>
  <h3 class="text-center fs-1 fw-bold">{{ noti }}</h3>
  <div class="details-non-ga-container mb-5">
    <mat-tab-group dynamicHeight selectedIndex="1">
      <mat-tab label="Attachments">
        <div class="">
          <app-attachment [attachmentFiles]="attachmentFiles"></app-attachment>
        </div>
      </mat-tab>
      <mat-tab label="NC Details">
        <div class="">
          <app-non-ga-nc-details
            [detailForm]="detailForm"
            (dataLoaded)="onDataLoaded(true)"
            *ngIf="masterData$ | async as masterData"
            [masterData]="masterData"
          ></app-non-ga-nc-details>
        </div>
      </mat-tab>
      <mat-tab label="Investigations and Solutions">
        <div class="">
          <app-non-ga-containment-investigation
            [investigationForm]="investigationForm"
            (dataLoaded)="onDataLoaded(true)"
            *ngIf="masterData$ | async as masterData"
            [masterData]="masterData"
            [actionsTable]="actionsTable"
          ></app-non-ga-containment-investigation>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="row" *ngIf="stage.value < 3 && stage.value > -1">
    <div class="col-12">
      <div
        class="w-100 d-flex flex-row justify-content-center align-items-center"
      >
        <div class="me-3">
          <button mat-raised-button color="warn" (click)="onCancel()">
            Cancel NC
          </button>
        </div>
        <div class="me-3">
          <button mat-raised-button class="btn-clone" (click)="onClone()">
            Clone
          </button>
        </div>
        <div class="me-3">
          <button mat-raised-button class="second-btn-warn" (click)="onBack()">
            Send Back to Requestor
          </button>
        </div>
        <div class="me-3">
          <button
            mat-raised-button
            class="second-btn-primary"
            (click)="onSave()"
          >
            Save
          </button>
        </div>
        <div class="me-3" *ngIf="this.stage.value === 0">
          <button mat-raised-button class="btn-submit" (click)="onAccept()">
            Accept
          </button>
        </div>
        <div class="me-3" *ngIf="this.stage.value === 1">
          <button mat-raised-button class="btn-submit" (click)="onSolve()">
            Solve
          </button>
        </div>
        <div class="me-3" *ngIf="this.stage.value === 2">
          <button mat-raised-button class="btn-submit" (click)="onClose()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
