table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

table.table-responsive {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 70vh;
}

td a {
  color: #1687fb;
}

td a:hover {
  color: #007bff;
  text-decoration: underline;
}
