<div class="row mt-2 mb-2">
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
    <div
      matTooltip="Quantity of Non Conformity in Status Created, Accepted, Solved"
      matTooltipPosition="below"
      class="d-flex flex-column justify-content-center align-items-start widgets-item opened"
    >
      <div>
        <h3>Open NCs</h3>
      </div>
      <div class="text-center flex-fill w-100 value">
        <div
          class="d-flex flex-row justify-content-start align-items-center h-100"
        >
          <span class="w-100">{{ openNCs.length }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
    <div
      matTooltip="Quantity of Non Conformity in Status Closed"
      matTooltipPosition="below"
      class="d-flex flex-column justify-content-center align-items-start widgets-item closed"
    >
      <div>
        <h3>Closed NCs</h3>
      </div>
      <div class="text-center flex-fill w-100 value">
        <div
          class="d-flex flex-row justify-content-start align-items-center h-100"
        >
          <span class="w-100">{{ closedNCs.length }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
    <div
      matTooltip="Quantity of Non Conformity with Due Date in the future"
      matTooltipPosition="below"
      class="d-flex flex-column justify-content-center align-items-start widgets-item on-time"
    >
      <div>
        <h3>On-time NCs</h3>
      </div>
      <div class="text-center flex-fill w-100 value">
        <div
          class="d-flex flex-row justify-content-start align-items-center h-100"
        >
          <span class="w-100">{{ onTimeNCs.length }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-1 widget-container">
    <div
      matTooltip="Quantity of Non Conformity with Due Date in the past"
      matTooltipPosition="below"
      class="d-flex flex-column justify-content-center align-items-start widgets-item overdue"
    >
      <div>
        <h3>Overdue NCs</h3>
      </div>
      <div class="text-center flex-fill w-100 value">
        <div
          class="d-flex flex-row justify-content-start align-items-center h-100"
        >
          <span class="w-100">{{ overDueNCs.length }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Action's Status Chart -->
  <div class="col-6">
    <highcharts-chart
      #actionStatusChart
      [Highcharts]="Highcharts"
      [options]="ncStageOptions"
      [constructorType]="chartConstructor"
      [callbackFunction]="chartCallback"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      [runOutsideAngular]="runOutsideAngular"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>
  <!-- NC's Stage Chart -->
  <div class="col-6">
    <highcharts-chart
      #actionStatusChart
      [Highcharts]="Highcharts"
      [options]="actionStatusOptions"
      [constructorType]="chartConstructor"
      [callbackFunction]="chartCallback"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      [runOutsideAngular]="runOutsideAngular"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>
</div>
