<!-- Section: Design Block -->
<div class="container-fluid h-100">
  <section class="text-center text-lg-start h-100">
    <div class="card h-100">
      <div class="row g-0 d-flex align-items-center h-100">
        <div class="col-lg-4 d-none d-lg-flex">
          <img
            src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
            alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
          />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label">Username</label>
                <input
                  type="text"
                  formControlName="username"
                  placeholder="Tên đăng nhập"
                  class="form-control"
                />
                <label *ngIf="username.invalid" [ngClass] = "'text-danger'"> Name is required with 10 max character. </label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  placeholder="Mật khẩu"
                  class="form-control"
                />
                <label *ngIf="loginForm.get('password').invalid" [ngClass] = "'text-danger'"> Password is required. </label>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div
                  class="col d-md-block text-md-left d-flex justify-content-center"
                >
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="form2Example31"
                      checked
                    />
                    <label class="form-check-label" for="form2Example31">
                      Remember me
                    </label>
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign in
              </button>
              <button type="button" class="btn btn-success btn-block mb-4 ms-4">
                <a href="/register">Forgot password?</a>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Section: Design Block -->
