<div class="header-container">
  <div
    class="d-flex flex-row align-items-center justify-content-start title-container"
  >
    <a href="/" class="">
      <img
        src="assets/images/favicon.png"
        alt="favicon.png"
        class="logo ms-2 me-2"
      />
    </a>
    <div class="d-flex flex-column justify-content-center ms-2 me-2">
      <span style="font-style: unset">Non Conformities</span>
      <span style="font-style: unset; font-size: 12px"
        >Renew Quality Suite</span
      >
    </div>
    <div class="ms-2 me-2">
      <span>Grid Solutions</span>
    </div>
  </div>
  <marquee
    class="marquee-message d-flex flex-row align-items-center"
    [direction]="'left'"
  >
    * This is test environment *
  </marquee>
  <mat-toolbar>
    <button
      type="button"
      class="ms-4"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="toggleSidebar.emit()"
      *ngIf="isHandset$ | async"
    >
      <i-feather
        name="menu"
        class="text-light-muted feather-base mt-n3"
      ></i-feather>
    </button>
    <div class="ms-auto">
      <button
        mat-button
        class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
        [matMenuTriggerFor]="menu"
      >
        <div class="d-flex align-items-center">
          <mat-icon class="me-2">account_box</mat-icon>
          <span class="fs-6 fw-light ms-8 text-white-50">Hi,</span>
          <span class="fs-6 fw-bold ms-8 text-light">{{ username }}</span>
          <i-feather name="chevron-down" class="feather-base"></i-feather>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <div class="mb-1">
          <button mat-menu-item class="" (click)="onProfileClick()">
            <mat-icon>dialpad</mat-icon><span>Show Profile</span>
          </button>
          <!-- <button mat-menu-item class="" (click)="underDevelopment()">
                <mat-icon>voicemail</mat-icon><span>Account</span>
              </button>
              <button mat-menu-item class="" (click)="underDevelopment()">
                <mat-icon>lock</mat-icon>
                <span>Change Password</span>
              </button>
              <button mat-menu-item class="" (click)="underDevelopment()">
                <mat-icon>settings</mat-icon>
                <span>My Settings</span>
              </button> -->
        </div>
        <hr />
        <div class="p-2">
          <button
            mat-flat-button
            color="accent"
            class="w-100 text-white"
            (click)="onLogout()"
          >
            Logout
          </button>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
