<div class="row">
  <!-- Detection Phase Chart -->
  <div class="col-12">
    <highcharts-chart
      #detectionPhaseChart
      [Highcharts]="Highcharts"
      [options]="detectionPhaseChartOptions"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>
</div>
<div class="row">
  <!-- Product's Type Chart -->
  <div class="col-6">
    <highcharts-chart
      #productTypeChart
      [Highcharts]="Highcharts"
      [options]="productTypeChartOptions"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>

  <!-- System Code L0 Chart -->
  <div class="col-6">
    <highcharts-chart
      #symptomCodeL0Chart
      [Highcharts]="Highcharts"
      [options]="symptomCodeL0ChartOptions"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <tr class="mat-row" *matNoDataRow>
        <td
          class="mat-cell text-center"
          [attr.colspan]="displayedColumns.length"
        >
          No data matching the filter.
        </td>
      </tr>
      <!-- User Column -->
      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>filter_list_alt</mat-icon> User
        </th>
        <td mat-cell *matCellDef="let element">{{ element.creatorName }}</td>
      </ng-container>

      <!-- NC_ID Column -->
      <ng-container matColumnDef="NC_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>filter_list_alt</mat-icon> NC ID
        </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="'/ncg/ncr-details/' + element.id">{{
            element.id
          }}</a>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>filter_list_alt</mat-icon> Status
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.stage | stageToString }}
        </td>
      </ng-container>

      <!-- NC_Aging_Date Column -->
      <ng-container matColumnDef="NC_Aging_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>filter_list_alt</mat-icon> NC Aging Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.agingDate }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
