<h2 class="mat-dialog-title" mat-dialog-title>Action</h2>
<mat-dialog-content>
  <form [formGroup]="tableForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input type="text" matInput [formControl]="idControl" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select [formControl]="classControl">
            <mat-option [value]="'Contaiment'">Contaiment</mat-option>
            <mat-option [value]="'Correction'">Correction</mat-option>
            <mat-option [value]="'Corrective / Preventive'"
              >Corrective / Preventive</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Action Description</mat-label>
          <input
            type="text"
            matInput
            [formControl]="actionDescriptionControl"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select [formControl]="departmentControl">
            <mat-option
              *ngFor="let option of department; index as i"
              [value]="option.code"
              >{{ option.code }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Responsible</mat-label>
          <input
            matInput
            type="text"
            placeholder="Pick one"
            [formControl]="responsibleControl"
            [matAutocomplete]="responsible"
          />
          <mat-autocomplete #responsible="matAutocomplete">
            @for (option of filteredResponsible | async; track option) {
            <mat-option [value]="option.sso"
              >{{ option.sso }} - {{ option.name }}</mat-option
            >
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Additional Notify Person</mat-label>
          <input
            matInput
            type="text"
            [formControl]="additionalNotifyPersonControl"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            matInput
            type="text"
            placeholder="Pick one"
            [matDatepicker]="startDate"
            [formControl]="startDateControl"
            [min]="today"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDate [startAt]="today"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Completion Date</mat-label>
          <input
            matInput
            type="text"
            placeholder="Pick one"
            [matDatepicker]="completionDate"
            [formControl]="completionDateControl"
            [min]="startDateControl.value"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="completionDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #completionDate [startAt]="today"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [formControl]="statusControl">
            <mat-option [value]="1">Not Started</mat-option>
            <mat-option [value]="2">In Progress</mat-option>
            <mat-option [value]="3">Done</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button (click)="onCancelClick()" color="warn">Cancel</button>
  <button
    mat-flat-button
    (click)="onSubmitClick()"
    style="background-color: #2196f3"
  >
    Submit
  </button>
</mat-dialog-actions>
